/*
----Main Declarations and Variables global which will be used in full less code
*/

@color-orange:#e8590d;
@color-main-menu:#6f2e00;
@tablet-screen :~"only screen and (max-width: 767px)";
@medium-screen :~"only screen and (max-width: 992px)";
@custom-screen540 :~"only screen and (max-width: 540px)";
@custom-screen480 :~"only screen and (max-width: 480px)";
/*
---------------------------------------------Header---------------------------------------------{
*/

.main-header {
	position: fixed;
	z-index: 999;
    width: 100%;
    font-family: Hind,sans-serif;
    font-weight: 400;
    .custom-navbar {
    	border: 0;
	    border-radius: 0;
	    border-top: 5px solid @color-orange;
	    margin-bottom: 0;

	    .main_logo{

	    	a {
	    		img {
	    			max-width: 200px;
    				transition: all .3s ease-in-out;
    				margin-top: -20px;
    				@media @tablet-screen {
    					width: 110px;
    				}
	    		}
	    	}
	    }

	    #navbar {

	    	ul {

	    		li {

	    			a{
	    				text-align: center;
					    color: @color-main-menu;
					    padding: 0 10px;
					    text-decoration: none;
					    font-size: 17px;
					    position: relative;
					    line-height: 90px;
					    transition: all .3s ease-in-out;
	    			}

	    			&:active {
	    				a {
	    					background: none;

	    					&:hover {
	    						background: none;
	    					}
	    					&:focus {
	    						background: none;
	    					}
	    					
	    				}
	    				&:after {
	    					    content: "";
							    font-family: FontAwesome;
							    border-width: 5px 5px 0;
							    right: auto;
							    bottom: -5px;
							    left: 50%;
							    transform: translateX(-50%);
							    position: absolute;
							    width: 0;
							    height: 0;
							    border-style: solid;
							    z-index: 1;
							    border-color: #fff transparent transparent;
	    				}
	    			}
	    		}

	    	}
	    }

	    .custom-slide-menu {
		    top: 30px;
		    transition: all .3s ease-in-out;
		    position: absolute;
		    right: 0;
		    color: #333;
		    @media @tablet-screen {
	    		top: 15px;
	    	}

		    .hamberger_menu_text {
			    font-size: 20px;
			    line-height: 30px;
			    font-weight: 400;
			    display: inline-block;
			    color: @color-main-menu;
			    margin-right: 12px;

			    @media @custom-screen480 {
			    	display: none;
			    }
			}

			.slide-out {
				position: fixed;
			    top: 90px;
			    width: 300px;
			    height: 100%;
			    background: #F8F8F8;
			    z-index: 100;
			    box-shadow: inset 1px 0 0 0 #e0e1dd;
			    padding: 24px 0 50px;
			    overflow-y: auto;
			    right: -300px;
			    transition: all .3s ease-in-out;

			    @media @tablet-screen {
			    	top: 60px;
			    }
			}
			.slide-in {
			    right: 0px!important;
			    transition: all .3s ease-in-out;
			}

			ul {
			    list-style: none;
			    font-weight: 300;
			    padding-left: 0;

			    li {
			    	border-bottom: 1px solid #e0e1dd;

			    	a {
			    		position: relative;
			    		display: block;
			    		padding: 10px;
			    		color: @color-main-menu;
			    		text-decoration: none;
			    		font-size: 15px;
			    	}
			    }
			}
		}
		#nav-icon {
			margin-right: 20px;
		    width: 26px;
		    height: 16px;
		    position: relative;
		    top: 7px;
		    float: right;
		    -webkit-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		    -webkit-transition: .5s ease-in-out;
		    -moz-transition: .5s ease-in-out;
		    -o-transition: .5s ease-in-out;
		    transition: .5s ease-in-out;
		    cursor: pointer;

		    span {
			    display: block;
			    position: absolute;
			    height: 2px;
			    width: 100%;
			    background: #6f2e00;
			    opacity: 1;
			    left: 0;
			    -webkit-transform: rotate(0deg);
			    -moz-transform: rotate(0deg);
			    -o-transform: rotate(0deg);
			    transform: rotate(0deg);
			    -webkit-transition: .25s ease-in-out;
			    -moz-transition: .25s ease-in-out;
			    -o-transition: .25s ease-in-out;
			    transition: .25s ease-in-out;

			    &:nth-child(1) {
				    top: 0;
				}
				&:nth-child(2) {
				    top: 50%;
				    -webkit-transform: translateY(-50%);
				    -moz-transform: translateY(-50%);
				    transform: translateY(-50%);
				}
				&:nth-child(3) {
				    bottom: 0;
				}
			}
		}
    }

    .custom-navbar-height {
	    height: 90px;
	    transition: all .3s ease-in-out;
	    /*position: relative; */
	    @media @tablet-screen{		    	
		height: 65px;
	}

	}
	.shrink {
	    height: 70px;
	    transition: all .3s ease-in-out;

	    @media @tablet-screen {
	    	height: 50px;
	    }
	    .main_logo{

	    	a {
	    		img {
	    			max-width: 120px;
    				transition: all .3s ease-in-out;

    				@media @tablet-screen {
    					width: 60px;
    				}
	    		}
	    	}
	    }
	    .custom-slide-menu {
	    	top: 18px;

	    	@media @tablet-screen {
	    		top: 11px;
	    	}
	    }
	}
}

.header-content {
	font-family: Hind,sans-serif;
    font-weight: 400;
    padding-top: 90px;
    @media @tablet-screen{		    	
		padding-top: 65px;
	}
    .FeaturedImage {
    	background-image: url('../img/sofiewollbraaten5-ballen_min-1.png');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;

	    .container {
	    	.header-text-main{
	    		position: relative;
			    height: 400px;
			    border-bottom: 5px solid #e8590d;
			    bottom: 0;
	    		.header-text {
		    		position: absolute;
				    bottom: 0;
				    padding-bottom: 40px;

				    h6 {
					    color: @color-orange;
					    font-size: 32px;
					    max-width: 250px;
					    @media @tablet-screen {
				    	font-size: 26px;
				    	}
					    @media @custom-screen480 {
					    	font-size: 22px;
					    }

					}
					h1 {
					    color: #fff;
					    font-size: 75px;
					    font-weight: 600;
					    margin-top: 30px;

					    @media @medium-screen {
					    	font-size: 50px;
					    }
					    @media @tablet-screen {
					    	font-size: 40px;
    						margin-top: 15px;
					    }
					    @media @custom-screen480{
					    	font-size: 30px;
					    }
					}
		    	}
	    	}
	    	
	    }
    }
}

#icon-nav {
	background: #fff;
    padding: 50px 0;

    .container{
    	.icon-menu {
    		li {
    			text-align: center;
			    width: auto;
			    float: none;
			    display: inline-block;

			    @media @medium-screen{
			    	width: width: 24.5%;
			    }
			    @media @tablet-screen{
			    	width: 49.5%;
    				margin: 40px 0;

			    }
			    @media @custom-screen540 {
			    	margin: 30px 0;
			    }
			    @media @custom-screen480 {
			    	width: 48%;
				    margin: 20px 0;
				    vertical-align: top;
			    }

				a {
				    font-family: Hind,sans-serif;
				    font-size: 20px;
				    color: #6f2e00;

				    @media @tablet-screen {
				    	font-size: 30px;
						
				    }
				    @media @custom-screen540 {
				    	font-size: 26px;
				    }
				    @media @custom-screen480{
				    	font-size: 14px;
				    }

				    &:before {
					    content: "";
					    display: block;
					    height: 20px;
					    background: url(../img/cross_orange.png) center center no-repeat;
					    background-size: 80% auto;
					    width: 120px;
					    margin: auto auto 10px;
					    width: 120px;

					    @media @tablet-screen {
					    	margin: 10px auto 30px;
							
					    }
					    @media @custom-screen540 {
					    	margin: 5px auto 20px;
					    }
					    @media @custom-screen480{
					    	margin: 10px auto 30px;
					    }

					}

					@media @tablet-screen {
				    	font-size: 30px;
						
				    }
				    @media @custom-screen540 {
				    	font-size: 26px;
				    }
				    @media @custom-screen480{
				    	font-size: 14px;
				    }
				    
				}
			}
			.fa {
				&:before {
				    color: #6f2e00;
				    font-size: 20px;
				    transition: all .3s ease-in;

				    @media @tablet-screen {
				    	font-size: 28px;
						
				    }
				    @media @custom-screen540 {
				    	font-size: 24px;
				    }
				    @media @custom-screen480{
				    	font-size: 20px;
				    }
				}

			}
    	}
    }
}


/*
}---------------------------------------------Header Over---------------------------------------------
*/




/*
---------------------------------------------Footer---------------------------------------------{
*/

footer {
	font-family: Hind,sans-serif;
    font-weight: 400;
	background-color: #333;
    background-image: url(../img/footer_bg.png);
    min-height: 830px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 150px;

    .footer-row {
    	padding: 60px 0 0;

    	.footer-on-small{
    		margin-top: 50px;
    	}

    	.live_search_wrap {
		    max-width: 230px;

		    @media @tablet-screen{
		    	margin-top: 0;
			    padding-top: 50px;
			    padding-left: 0;
			    padding-right: 0;
			    max-width: 100%;
		    }

		    form {
			    border-bottom: 1px solid @color-orange;
			    ::-webkit-input-placeholder {
				   color: white;
				}

				:-moz-placeholder { /* Firefox 18- */
				   color: white;  
				}

				::-moz-placeholder {  /* Firefox 19+ */
				   color: white;  
				}

				:-ms-input-placeholder {  
				   color: white;  
				}

			    .input_wrap_clearfix{
			    	.line_sep {
			    		display: none;
			    	}
			    }

			    .search_input {
				    padding-left: 0;
				    color: #fff;
				    background: 0 0;
				    border: 0;
				    width: 88%;
				    outline: 0;
				    font-size: 17px;
				}
				.search_submit {
				    width: 9%;
				    height: 30px;
				    outline: 0;
				    margin-left: -1px;
				    border: 0;
				    background: 0 0;
				    border-radius: 0;
				    padding: 0;

				    &:after {
					    content: "\f002";
					    font-family: FontAwesome;
					    font-style: normal;
					    font-size: 17px;
					    font-weight: 400;
					    color: #e8590d;
					}
				}

			}
		}

		.facebook_link {
		    max-width: 230px;
		    border-bottom: 1px solid #e8590d;
		    margin-top: 30px;

		    @media @tablet-screen{
		    	margin-top: 0;
			    padding-top: 50px;
			    padding-left: 0;
			    padding-right: 0;
			    max-width: 100%;
		    }

		    a {
			    text-decoration: none;
			    color: #fff;
			    display: block;
			    line-height: 30px;
			    font-size: 17px;

			    &:after {
				    content: "\f09a";
				    font-family: FontAwesome;
				    font-style: normal;
				    font-size: 17px;
				    font-weight: 400;
				    color: #e8590d;
				    float: right;
				    margin-right: 5px;
				}
			}
		}

		
	}
	.site_name {
		    color: #d4a77d;
		    font-size: 28px;
		    margin-top: 140px;
		    font-weight: 400;
		    margin-bottom: 20px;

		    @media @tablet-screen{
		    	margin-top: 60px;
		    }

		}
	.copyright {
	    color: #d4a77d;
	    font-size: 12px;

	}

	.footer-title {
	    color: #d4a77d;
	    font-size: 20px;
	    margin-top: 0;
	    margin-bottom: 15px;
	    font-weight: 400;

	    
	    &:before {
	    	@media @tablet-screen{
	    		content: "\f105";
			    font-family: FontAwesome;
			    position: absolute;
			    color: #e8590d;
			    font-size: 30px;
			    font-weight: 700;
			    right: 43px;
			    top: -7px;
			    padding: 0;
			    cursor: pointer;
	    	}

	    }
	}

	.footer_area {
		a {

			display: block;
		    text-decoration: none;
		    font-size: 15px;
		    color: #fff;
		    margin-bottom: 5px;
		}

		.footer-content-hide {
			@media @tablet-screen{
	    		display: none;
	    		transition: all .3s ease-in-out;
	    	}
		}
		.footer-content-show {
			@media @tablet-screen{
	    		display: block;
	    		transition: all .3s ease-in-out;
	    	}
		}
		
	}
}


/*
}---------------------------------------------Footer Over---------------------------------------------
*/






/*
---------------------------------------------Bli Medlam Start---------------------------------------------{
*/

.main-container_bli {
	font-family: Hind,sans-serif;
    font-weight: 400;
	.medlem_section {
		.section_border{
			background-color: #f7f7f7;
			&:before {
				width: 100%;
			    content: "";
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    top: -5px;
			    height: 10px;
			}

			&:after {
				width: 100%;
			    content: "";
			    margin-top: 30px;
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    bottom: -5px;
			    height: 10px;
			    -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}


			.page_section_main{
				.page_heading {
					margin: 50px auto;
				    margin-bottom: 0;
				    max-width: 660px;
				    text-align: center;
				    color: #6f2e00;
				    font-size: 60px;
				    font-weight: 600;
				    display: block;

				    @media @tablet-screen {
				    	margin: 30px 15px;
					    font-size: 30px;
					    max-width: 100%;
				    }
				}

				.dot_sep {
					display: block;
				    width: 10px;
				    height: 10px;
				    background: #d4a77d;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transform-origin: 0 100%;
				    -moz-transform-origin: 0 100%;
				    -ms-transform-origin: 0 100%;
				    -o-transform-origin: 0 100%;
				    transform-origin: 0 100%;
				    margin: 50px auto;

				    @media @tablet-screen {
				    	margin: 30px auto;
				    }
				}
				.page_excerpt {					
				    max-width: 660px;
				    margin: 30px auto;
				    text-align: center;
				    color: #6f2e00;
				    font-weight: 300;
				    font-size: 20px;

				    @media @tablet-screen {
				    	margin: 20px 15px;
					    font-size: 18px;
					    max-width: 100%;
				    }
				}
			}
		}

		.container-medlem {
			margin-top: 50px;
    		margin-bottom: 50px;

    		.page_section_content {
    			font-size: 16px;
    		}
		}
	}
}

/*
}---------------------------------------------Bli Medlam Over---------------------------------------------
*/



/*
---------------------------------------------Kjope Hund Start---------------------------------------------{
*/

.main_container_kjope {
	font-family: Hind,sans-serif;
    font-weight: 400;

    .page_section {

    	.section_border {
    		background-color: #f7f7f7;
    		&:before {
				width: 100%;
			    content: "";
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    top: -5px;
			    height: 10px;
			}

			&:after {
				width: 100%;
			    content: "";
			    margin-top: 30px;
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    bottom: -5px;
			    height: 10px;
			    -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}

    		.page_section_main{

	    		.page_image_outer {
	    			margin-left: 15px;
	    			margin-right: 15px;

	    			.page_image{
	    				width: 100%;
	    				margin-top: 50px;
	    			}
	    		}
	    		.page_heading {
	    			margin: 50px auto;
				    margin-bottom: 0;
				    max-width: 660px;
				    text-align: center;
				    color: #6f2e00;
				    font-size: 60px;
				    font-weight: 600;
				    display: block;

				    @media @tablet-screen {
				    	margin: 30px 15px;
					    font-size: 30px;
					    max-width: 100%;
				    }
	    		}
	    		.dot_sep{
	    			display: block;
				    width: 10px;
				    height: 10px;
				    background: #d4a77d;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transform-origin: 0 100%;
				    -moz-transform-origin: 0 100%;
				    -ms-transform-origin: 0 100%;
				    -o-transform-origin: 0 100%;
				    transform-origin: 0 100%;
				    margin: 50px auto;
				    @media @tablet-screen {
				    	margin: 30px auto;
				    }

	    		}
	    		.page_excerpt{
	    			max-width: 660px;
				    margin: 30px auto;
				    text-align: center;
				    color: #6f2e00;
				    font-weight: 300;
				    font-size: 20px;

				    @media @tablet-screen {
				    	margin: 20px 15px;
					    font-size: 18px;
					    max-width: 100%;
				    }
	    		}
    		}

    	}

    	.container{
    		.page_content {
    			max-width: 700px;
    			margin: 50px auto;

    			@media @tablet-screen {
    				margin: 40px 15px;
    			}

    			p {
				    margin-bottom: 40px;
				    text-align: justify;
				}
			}
    	}

    	
    }

    .ad_section {

    	margin: 100px 0;
    	@media @tablet-screen {
    		margin: 50px 0;
    	}
    	.ad_box{
    		margin-bottom: 20px;

    		a{
    			transition: all .3s ease-in-out;

    			img {
    				width: 100%;
    			}
    		}
    	}

    }
}

/*
}---------------------------------------------Kjope Hund Over---------------------------------------------
*/


/*
---------------------------------------------Om NRK Start---------------------------------------------{
*/

.main_container_omnrk{

	font-family: Hind,sans-serif;
    font-weight: 400;

    .page_section {

    	.section_border {
    		background-color: #f7f7f7;
    		&:before {
				width: 100%;
			    content: "";
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    top: -5px;
			    height: 10px;
			}

			&:after {
				width: 100%;
			    content: "";
			    margin-top: 30px;
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    bottom: -5px;
			    height: 10px;
			    -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}

    		.page_section_main{

	    		.page_image_outer {
	    			margin-left: 15px;
	    			margin-right: 15px;

	    			.page_image{
	    				width: 100%;
	    				margin-top: 50px;
	    			}
	    		}
	    		.page_heading {
	    			margin: 50px auto;
				    margin-bottom: 0;
				    max-width: 660px;
				    text-align: center;
				    color: #6f2e00;
				    font-size: 60px;
				    font-weight: 600;
				    display: block;

				    @media @tablet-screen {
				    	margin: 30px 15px;
					    font-size: 30px;
					    max-width: 100%;
				    }
	    		}
	    		.dot_sep{
	    			display: block;
				    width: 10px;
				    height: 10px;
				    background: #d4a77d;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transform-origin: 0 100%;
				    -moz-transform-origin: 0 100%;
				    -ms-transform-origin: 0 100%;
				    -o-transform-origin: 0 100%;
				    transform-origin: 0 100%;
				    margin: 50px auto;
				    @media @tablet-screen {
				    	margin: 30px auto;
				    }

	    		}
	    		.page_excerpt{
	    			max-width: 660px;
				    margin: 30px auto;
				    text-align: center;
				    color: #6f2e00;
				    font-weight: 300;
				    font-size: 20px;

				    @media @tablet-screen {
				    	margin: 20px 15px;
					    font-size: 18px;
					    max-width: 100%;
				    }
	    		}
    		}

    	}

    	.container{
    		.page_content {
    			max-width: 700px;
    			margin: 50px auto;

    			@media @tablet-screen {
    				margin: 40px 15px;
    			}

    			p {
				    margin-bottom: 40px;
				    text-align: justify;
				}
			}
    	}

    	
    }

    .ad_section {

    	margin: 100px 0;
    	@media @tablet-screen {
    		margin: 50px 0;
    	}
    	.ad_box{
    		margin-bottom: 20px;

    		a{
    			transition: all .3s ease-in-out;

    			img {
    				width: 100%;
    			}
    		}
    	}

    }

}

/*
}---------------------------------------------Om NRK Over---------------------------------------------
*/





/*
---------------------------------------------Organisasjon Start---------------------------------------------{
*/

.main_container_organisasjon{

	font-family: Hind,sans-serif;
    font-weight: 400;

    .page_section {

    	.section_border {
    		background-color: #f7f7f7;
    		&:before {
				width: 100%;
			    content: "";
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    top: -5px;
			    height: 10px;
			}

			&:after {
				width: 100%;
			    content: "";
			    margin-top: 30px;
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    bottom: -5px;
			    height: 10px;
			    -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}

			//row 1
			.main_section_heading {
			    position: relative;
			    text-align: center;

			    .page_heading {
	    			margin: 50px auto;
				    margin-bottom: 0;
				    max-width: 660px;
				    text-align: center;
				    color: #6f2e00;
				    font-size: 60px;
				    font-weight: 600;
				    display: block;

				    @media @tablet-screen {
				    	margin: 30px 15px;
					    font-size: 30px;
					    max-width: 100%;
				    }
	    		}
	    		.dot_sep{
	    			display: block;
				    width: 10px;
				    height: 10px;
				    background: #d4a77d;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transform-origin: 0 100%;
				    -moz-transform-origin: 0 100%;
				    -ms-transform-origin: 0 100%;
				    -o-transform-origin: 0 100%;
				    transform-origin: 0 100%;
				    margin: 50px auto;

				    @media @tablet-screen {
				    	margin: 30px auto;
				    }

	    		}

	    		.main_content {
				    margin-bottom: 50px;
				    font-size: 16px;
				}

			}	
	    		
	    		//2nd row

    		.employee_row {
    			display: flex;
				display: -webkit-flex;

				.employee_box_outer{
					background: #fff;
				    background-clip: content-box;
				    display: flex;
				    display: -webkit-flex;

				    @media @medium-screen {
						display: block;
					}
				    .employee_box {
				    	background: #fff;
					    display: flex;
					    display: -webkit-flex;
					    align-items: center;
					    -webkit-align-items: center;
					    padding: 10px 15px;
					    width: 100%;
					    border: 1px solid #e8590d;

					    @media @medium-screen {
							margin-bottom: 20px;
						}
						@media @tablet-screen {
							display: block;
							text-align: center;
						}

					    img{
					    	padding: 5px;
						    border: 1px solid #e8590d;
						    width: 100%;

						    @media @tablet-screen {
						    	margin: auto auto 15px;
    							width: auto;
						    }
					    }
					    h4,p {
					    	margin: 0 0 5px;
						    border: 1px solid #e8590d;
						    padding: 3px;
					    }
					    a{
					    	color: #000;
							text-decoration: none;
					    }
				    }
				}

				@media @medium-screen {
					display: block;
				}
    		}
    		.clear_row {
    			margin-bottom: 30px;

    			@media @medium-screen {
    				margin-bottom: 0;
    			}
    		}


    	}
    }
}

/*
}---------------------------------------------Organisasjon Over---------------------------------------------
*/




/*
---------------------------------------------Kontakt Start---------------------------------------------{
*/

.main_container_kontakt{
	font-family: Hind,sans-serif;
    font-weight: 400;

    .page_section {

    	.section_border {
    		background-color: #f7f7f7;
    		&:before {
				width: 100%;
			    content: "";
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    top: -5px;
			    height: 10px;
			}

			&:after {
				width: 100%;
			    content: "";
			    margin-top: 30px;
			    background-image: url(../img/top_arrow.png);
			    background-size: contain;
			    background-position: center center;
			    display: block;
			    position: relative;
			    bottom: -5px;
			    height: 10px;
			    -webkit-transform: rotate(180deg);
			    -moz-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			    transform: rotate(180deg);
			}

    		.page_section_main{

	    		.page_image_outer {
	    			margin-left: 15px;
	    			margin-right: 15px;

	    			.page_image{
	    				width: 100%;
	    				margin-top: 50px;
	    			}
	    		}
	    		.page_heading {
	    			margin: 50px auto;
				    margin-bottom: 0;
				    max-width: 660px;
				    text-align: center;
				    color: #6f2e00;
				    font-size: 60px;
				    font-weight: 600;
				    display: block;

				    @media @tablet-screen {
				    	margin: 30px 15px;
					    font-size: 30px;
					    max-width: 100%;
				    }
	    		}
	    		.dot_sep{
	    			display: block;
				    width: 10px;
				    height: 10px;
				    background: #d4a77d;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    -webkit-transform-origin: 0 100%;
				    -moz-transform-origin: 0 100%;
				    -ms-transform-origin: 0 100%;
				    -o-transform-origin: 0 100%;
				    transform-origin: 0 100%;
				    margin: 50px auto;
				    @media @tablet-screen {
				    	margin: 30px auto;
				    }

	    		}
	    		.page_excerpt{
	    			max-width: 660px;
				    margin: 30px auto;
				    text-align: center;
				    color: #6f2e00;
				    font-weight: 300;
				    font-size: 20px;

				    @media @tablet-screen {
				    	margin: 20px 15px;
					    font-size: 18px;
					    max-width: 100%;
				    }
	    		}
    		}

    	}

    	.kontakt_main_content{
    		margin-top: 50px;
		    position: relative;
		    margin-bottom: 50px;

		    .kontakt_main_content_row{
		    	display: flex;
			    display: -webkit-flex;
			    min-height: 150px;

		    	.page_sec_content{
		    		font-size: 16px;
    				position: relative;

    				.contact_section{
    					position: absolute;
					    top: 50%;
					    -webkit-transform: translateY(-50%);
					    -moz-transform: translateY(-50%);
					    -o-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					    transform: translateY(-50%);

					    div {
						    display: block;
						    margin-bottom: 20px;

						    i {
							    font-size: 30px;
							    width: 25px;
							}

						    span {
							    padding-left: 30px;
							    display: inline-block;
							    vertical-align: top;
							    font-size: 20px;

							    a {
								    text-decoration: none;
								    color: #000;
								    font-size: 20px;
								}
							}


						}
    				}
		    	}
		    	.clearfix{

		    	}

		    }
    	}

    	
    }

    .ad_section {

    	margin: 100px 0;
    	@media @tablet-screen {
    		margin: 50px 0;
    	}
    	.ad_box{
    		margin-bottom: 20px;

    		a{
    			transition: all .3s ease-in-out;

    			img {
    				width: 100%;
    			}
    		}
    	}

    }


}

/*
}---------------------------------------------Kontakt Over---------------------------------------------
*/