body {
    font-family: Hind,sans-serif;
    font-weight: 400;
}
#custom-fonts{
    font-family: Hind,sans-serif;
    font-weight: 400;
}

a {transition: all .3s ease-in-out; }

/* 
-------------------------------------------------------------HEADER---------------------------------------------------------
*/
.header .custom-navbar {
    border: 0;
    border-radius: 0;
    border-top: 5px solid #e8590d;
    margin-bottom: 0;
}


.header .custom-navbar-height {
    height: 90px;
    transition: all .3s ease-in-out;
    /*position: relative; */
}
.header .shrink {
    height: 70px;
    transition: all .3s ease-in-out;
}
.header .custom-navbar .custom-logo-align {
    /*position: relative; */
    
    text-align: center;
}
.header .custom-navbar .custom-logo-align .main_logo {
    width: 100%;
}

.header .custom-navbar .custom-logo-align .main_logo a {
    margin: 0;
    width: 100%;
    padding: 0;
}

@media (max-width: 991px){
    .header .custom-navbar-height {
    height: 65px;
    transition: all .3s ease-in-out;
    /*position: relative; */
}
.header .shrink {
    height: 50px;
    transition: all .3s ease-in-out;
}
}

/* 
------------------------HEADER LISTS--------------------
*/


.cover_menu ul li:after {
    content: "";
    background: url(../img/arrow_white.png) center center no-repeat;
    background-size: 100% auto;
    font-family: FontAwesome;
    height: 20px;
    display: block;
    position: relative;
    bottom: -35px;
}

.cover_menu ul li:hover:after {
    content: "";
    background: url(../img/arrow_orange.png) center center no-repeat;
    background-size: 100% auto;
    font-family: FontAwesome;
    height: 20px;
    display: block;
    position: relative;
    bottom: -35px;
}

.header .navbar .cover_menu ul li {
    list-style-type: none;
    line-height: 70px;
}

.header .shrink .cover_menu ul li {
    list-style-type: none;
    line-height: 50px;
}
.header .navbar .cover_menu ul li a {
    position: relative;
    bottom: -10px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin: 0;
}
.header .navbar .cover_menu ul li:hover a{
        color: #e8590d; /* ORANGE */
}


.header .navbar .cover_menu ul li:hover a:hover{
        color: #e8590d;
        text-decoration: none;
}

.header .cover_left ul {
    float: right;
    padding: 0;
}

.header .cover_right ul {
    float: left;
    padding: 0;
}
.main_logo a .custom-img-height {
    /*position: absolute;
    top: 0; */
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    max-width: 200px;
    transition: all .3s ease-in-out;
}

.header .shrink .custom-logo-align a img {
    max-width: 120px;
    transition: all .3s ease-in-out;
}
.navbar-brand {/*
    padding: 0;
    position: relative;
    top: -5px;
    z-index: 999; */
}



@media (max-width: 991px) {
.navbar .main_logo img {
    width: 140px;
}
.header .shrink .custom-logo-align a img {
    max-width: 60px;
    transition: all .3s ease-in-out;
}
}

@media (max-width: 767px) {
.navbar .main_logo img {
    width: 110px;
}

.header .navbar .cover_menu ul li a {
    font-size: 14px;
}

.header .navbar .cover_menu ul li {
    list-style-type: none;
    line-height: 35px;
}

.header .shrink .cover_menu ul li {
    list-style-type: none;
    line-height: 30px;
}

}

@media (max-width: 480px) {
.header .navbar .cover_menu ul li a {
    font-size: 12px;
}
}

/* 
------------------------HEADER-OVER--------------------
*/
/* 
------------------------CONTAINER-OVER--------------------
*/
.main-container {
        margin-top: -20px;
}

/*
----BACKGROUND IMAGE-----
*/
.main_bg_cover {
    background-size: cover;
    background-position: center center;
    padding-top: 240px;
    padding-bottom: 70px;
}

/*
------SELECT BOX STYLE
*/
.main_bg_cover .dept_selectbox_section {
    text-align: center;
    margin-top: 20px;
}

.main_bg_cover .dept_selectbox_section .dept_selectbox {
    background: url(../img/select_arrow.png) 95% center no-repeat;
    color: #fff;
    border: 1px solid #e8590d;
    padding: 10px 32px 10px 15px;
    font-size: 18px;
    outline: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 6%;
}

.dept_selectbox_section .dept_selectbox .option {
    background: rgba(255,255,255,.5);
    cursor: pointer;
    color: #e8590d;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
}

@media (max-width: 991px){
.main_bg_cover .breed_box {
    margin-bottom: 15px;
}
}
/*
--------MAIN-PAGE-HEADING AND SUB-HEADING
*/

.main-container .cover_page_heading {
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

.main-container .cover_page_subheading {
    color: #d4a77d;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    font-weight: 300;
}

.main_bg_cover .breed_container {
    margin: 40px 0 80px;
}

.main_bg_cover .breed_box .breed_img {
    width: 100%;
    height: 140px;
    border-top: 3px solid #ccc;
}

.main_bg_cover .breed_box .breed_img:hover {
    border-top: 3px solid #e8590d;
}

.main_bg_cover .breed_box .breed_title {
    color: #fff;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #e8590d;
    font-weight: 400;
}

.main_bg_cover .breed_box a:hover .breed_title{
    border-bottom: 2px solid #ccc;
}

@media (max-width: 991px) {
.main-container .cover_page_heading {
    font-size: 55px;
}

.main-container .cover_page_subheading {
    font-size: 33px;
}

}

@media (max-width: 767px) {
    .main-container .cover_page_heading {
    font-size: 45px;
}

.main-container .cover_page_subheading {
    font-size: 30px;
}
}

@media (max-width: 480px) {
    .main-container .cover_page_heading {
    font-size: 45px;
}
.main-container .cover_page_subheading {
    font-size: 27px;
}
}

/*
------FOOTER COPYRIGHT
*/

.main_bg_cover .copyright {
    font-size: 12px;
    text-align: center;
    color: #d4a77d;
}